@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

  /* CSS Variables */
  :root {
    --button-color: #64c0ee;
  }

  body {
    /* Custom Fonts */
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 17px;
    background-color: aliceblue;
    max-width: 800px;
    margin: auto;
  }
  
  /*style for checkbox*/
  input[type="checkbox"] {
    accent-color: rgb(114, 219, 251);
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  header img {
    width: 50vw;
    height: 90vh;
  }
  
  /* Grid */
  section aside table {
    display: grid;
    grid-template-columns: 30px 30px;
  }

  th, td {
    border: 1px solid black;
  }
  
  th, td {
    padding: 10px;
  }
  
  /* Relative Units */
  canvas#myLogo {
    width: 10em;
    height: 10em;
  }

  .column {
    flex: 33.33%;
    padding: 5px;
    position: relative;
  }

  .textOnTop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.3s;
    background-color: rgba(20, 217, 243, 0.912);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
  }

  .column:hover .textOnTop {
    opacity: 0.7;
    cursor: pointer;
  }

  /* CSS Animations */
  header canvas#myLogo {
    animation: canvas-animation 5s linear infinite;
  }
  
  @keyframes canvas-animation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  /* Transitions */
  header img {
    transition: all 0.5s ease-in-out;
  }
  
  header img:hover {
    transform: scale(1.2);
  }
  
  /* Transforms */
  header h1 {
    transform: translateX(0%) translateY(-50%);
  }
  
  .row {
    display: flex;
  }

  input[type="button"] {
    background-color: var(--button-color);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 9px #999;
   }

   input[type="button"]:hover {background-color: #79c8f3}

   input[type="button"]:active {
     background-color: #79c8f3;
     box-shadow: 0 5px #666;
     transform: translateY(4px);
   }

   video {
    width: 900px;
    height: 500px;
   }

   picture {
    display: flex;
    justify-content: center;
   }

   /* Style hamburger menu*/
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #acbcec;
    height: 30px;
    padding: 1em;
  }
  
  a {
    text-decoration: none;
  }

  a:hover { 
    text-decoration: underline;
  }

  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu > li {
    margin: 0 2.8rem;
    overflow: hidden;
  }
  
  .menu-button-container {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50px;
    height: 100%;
    cursor: pointer;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button, .menu-button::before, .menu-button::after {
    display: block;
    position: absolute;
    height: 5px;
    width: 30px;
    transition: height 500ms cubic-bezier(0.4, 1, 0.4, 1);
    background-color: #fff;
  }
  
  @media (max-width: 768px) {
    header img {
      width: 70vw;
      height: 60vh;
    }

    iframe, video {
      width: 90vw;
      height: 50vh;
    }
  
    .menu-button-container {
      display: flex;
    }

    .menu {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      margin-top: 60px;
      width: 100%;
    }

    #menu-toggle ~ .menu li {
      margin: 0;
      padding: 0;
      height: 0;
      border: 0;
      transition: height 500ms cubic-bezier(0.4, 1, 0.4, 1);
    }

    #menu-toggle:checked ~ .menu li {
      border: 0.5px solid #333333;
      height: 1.8em;
      padding: 0.8em;
      transition: height 500ms cubic-bezier(0.4, 1, 0.4, 1);
    }

    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.8em 0;
      width: 100%;
      color: white;
      background-color: #090909;
    }   
  }

  @media(min-width: 1200px){
    main {
      font-size: 120%;
    }
  }